
/*  цвет вторичного текста color: #757575;
 цвет основного текста color: #212121;

   синий ссылки color: #2196F3;
 h1 color: #FFFFFF;
 color: rgba(255, 255, 255, 0.6); 2 ссылки в футере
*/

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff; 

}

body {
   background-color: #ffffff;
   color: #212121;
   text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.logo {
    color: black
}
.logo-color{
    color: var(--accent-color) ;
}
.logo:hover,
.logo:focus {
 color: var(--primary-text-color); 
}


.list {
    list-style: none;
}
    /* Site nav */

.site-nav .link {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--primary-text-color);
}
 /* hero*/

 .hero-title {
     color: black;
 }

 /* section */

.section-title {
 color: var(--primary-text-color) ;
}

/* features */
.feature-list .title {
    color: var(--primary-text-color);
}

/* button*/
button {
    color: var(--accent-color)
    background-color: ;
}