/* portfolio */

.button {
    background-color: var(--bgc-accent);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}


.button.primary:focus,
.button.primary:hover {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}


.portfolio .title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio .text {
    color: var(--title-text-color);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}