:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff; 
    --bgc-main: #2F303A;
    --bgc-accent: #F5F4FA; 
}

/* Header */

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    color: var(--primary-text-color);
}

.logo-color{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    color: var(--accent-color);
}

.logo:hover,
.logo:focus {
    color: var(--primary-text-color); 
}

.list {
    list-style: none;
}

/* Site nav */

.site-nav .link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;    
    color: var(--primary-text-color);

}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.contacts .contacts-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

/* portfolio */

.button {
    background-color: var(--bgc-accent);
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}


.button.primary:focus,
.button.primary:hover {
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
}







/* footer */
footer {
    background-color: var(--bgc-main);
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    color: var(--primary-bg-color);
}

.logo-color{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.15;
    color: var(--accent-color);
}

.address-title {
    color: var(--primary-bg-color);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
}

.address .address-link {
    color: rgba(255 ,255 ,255 ,0.6 );
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
}

